Adafruit-Blinka==6.15.0
adafruit-circuitpython-neopixel==6.2.2
adafruit-circuitpython-pixelbuf==1.1.0
Adafruit-PlatformDetect==3.16.1
Adafruit-PureIO==1.1.9
numpy==1.21.3
pkg_resources==0.0.0
pyftdi==0.53.3
pyserial==3.5
pyusb==1.2.1
